$breakpoint-phone-xs: 350px;
$breakpoint-phone: 450px;
$breakpoint-tablet: 600px;
$breakpoint-laptop: 960px;
$breakpoint-laptop-xl: 1100px;
$breakpoint-desktop: 15000px;

$bottom-app-bar-height: 56px;

$app-bar-index: 700;
$fav-index: 800;
$drawer-index: 900;
$toast-index: 950;
$modal-index: 1000;
$modal-content: 1050;